.Side-bar
  .Side-bar__Left-header
    .Side-bar__Left-header__List
      %h3.Left-header-name
        = current_user.name
      %ul.Left-header-icons
        %li.icon
          =link_to new_group_path, class: "edit" do
            = icon('fas', 'edit')
        %li.icon
          =link_to edit_user_path(current_user), class: "edit" do
            = icon('fas', 'cog')
  .Side-bar__Group-list
    - current_user.groups.each do |group|
      .Side-bar__Group-list__Chat-group
        =link_to group_messages_path(group), class: 'group-link' do
          .Group__name
            = group.name
          .Group__message
            = group.show_last_message

